<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <div>
        <div>
            <textarea name="output" id="output" cols="30" rows="10">

            </textarea>
        </div>
        <div>
            <form action="">
                <textarea name="input" id="input" cols="30" rows="10">

                </textarea>
            </form>
        </div>
    </div>
    <script>
        const sendChat = () =>{
            
        }
    </script>
</body>
</html>