<style type="text/css">
    .copyright {
        text-align: center;
    }
</style>
<div class="inner">
    <div class="copyright">
        <p>Copyright 2021. by KJH <a href="https://github.com/jks7878">GitHub</a></p>
    </div>
</div>